<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/vendors/ionicons.min.css")
    link(rel="stylesheet", href="css/vendors/skeleton.css")
    link(rel="stylesheet", href="css/vendors/normalize.css")
    link(rel="stylesheet", href="css/vendors/font-awesome.min.css")
    link(rel="stylesheet", href="css/style.css")
    title Jade demo with sass
  body
    header#main-header
      a(href="#")
        img(src="img/logo.png", alt="", class="logo")

      nav
        ul
          li
            a(href="#") Home
          li
            a(href="#") About
          li
            a(href="#") Services
          li
            a(href="#") Contact
    
    section#hero.section
      .container
        .loader
        .hero-content
          h1 JADE DEMO
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error vero cupiditate ducimus iusto labore quis sapiente eos consequuntur! Officia, ipsa deleniti eius quos excepturi libero praesentium nostrum perspiciatis nulla ut!
          a(href="#" class="btn btn-rounded btn-rounded btn-small") Our Services
          a(href="#" class="btn btn-small btn-outline btn-rounded") Contact

      .scroll-btn
        a(href="#")
          i(class="icon ion-ios-arrow")

    section#showcase.section-a
      .container
        .section-heading
          h1(class="title") Jade demo showcase
          hr
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae non natus, consequuntur iure dolorum obcaecati cupiditate commodi excepturi velit explicabo debitis distinctio, id a, harum dolorem nobis deserunt omnis veniam!

        .row
          .columns.four
            h2 Option 1
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet labore ipsam modi amet harum odit delectus placeat qui id enim!

          .columns.four
            h2 Option 1
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet labore ipsam modi amet harum odit delectus placeat qui id enim!
          
          .columns.four
            h2 Option 1
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet labore ipsam modi amet harum odit delectus placeat qui id enim!

    section#showcase.section-b
      .container
        .section-heading
          h1(class="title") Jade demo second showcase
          hr
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae non natus, consequuntur iure dolorum obcaecati cupiditate commodi excepturi velit explicabo debitis distinctio,

        .row
          .column.one-half
            img(src="img/iphone.png", alt="")
          
          .column.one-half.demo-phone
            h1 Jade demo

            ul   
              li Test jade 1
                i(class="fa fa-check-square")            
              li Test jade 2 
                i(class="fa fa-check-square")      
              li Test jade 3
                i(class="fa fa-check-square")

            .phone-logo 
              img(src="img/playstore.png", alt="")
              img(src="img/appstore.png", alt="")


    section#showcase.section-c
      .container 
        .section-heading 
          h1(class="title") Jade demo Prices
          hr
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae non natus, consequuntur iure dolorum obcaecati cupiditate commodi excepturi velit explicabo debitis distinctio,

        
        .row 
          .column.one-third
            .card 
              .card-header
                h2 Prices One
                p Lorem ipsum dolor sit amet.

              .card-body
                ul
                  li feature one
                  li feature two
                  li feature three

              .card-footer
                a(href="#" class="btn btn-rounded") click

          .column.one-third
            .card 
              .card-header
                h2 Prices One
                p Lorem ipsum dolor sit amet.

              .card-body
                ul
                  li feature one
                  li feature two
                  li feature three

              .card-footer
                a(href="#" class="btn btn-rounded") click


          .column.one-third
            .card 
              .card-header
                h2 Prices One
                p Lorem ipsum dolor sit amet.

              .card-body
                ul
                  li feature one
                  li feature two
                  li feature three

              .card-footer
                a(href="#" class="btn btn-rounded") click

    footer 
      .container
        p copyright &copy;

        ul
          li 
            a(href="#")
              i(class="fa fa-facebook")
          li
            a(href="#")
              i(class="fa fa-twitter")
          li
            a(href="#")
              i(class="fa fa-github")
          

